* { 
    margin: 0 auto; 
    font-family: sans-serif; 
}
header {
	height: 70px;
	background-color: #c33bec;
	display: flex;
	align-items: center;
}
header .topo {
	position: absolute;
	left: 10%;
}
header > .topo a.icone_menu i {
	color: #000;
	font-size: 40px;
	padding-top: 5px;
	transition: .2s ease;
}
header > .topo a.icone_menu:hover i {
	color: #fff;
}
nav.menu {
	width: 300px;
	min-height: calc(100vh - 121px);
	background-color: #c33bec;
	position: absolute;
	left: -300px;
	transition: .3s all;
}
nav.menu > a {
    display: block;
    padding: 5px;
    margin: 15px 0 0px 20px;
    color: #000000;
    text-transform: uppercase;
}
.exibe_menu {
	left: 0!important;
}

@media screen and (max-width: 360px) {
	nav.menu {
		width: 100%;
		left: -100%; 
	}
}